# Python
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# OS / Editor
.DS_Store
.vscode/

# Asterisk runtime / config (local only)
asterisk/

# Docker
docker-compose.yml
Dockerfile

# Frontend 빌드 및 패키지
node_modules/
.next/
dist/